################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GigHub/v15/sqlite3
/.vs
/bin
/obj
